html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


#containerDiv  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 512px;
    width: 512px;
}

.square {
    border: 0.5px solid black;
    display: flex;
    box-sizing: border-box;
}

.coloredSquare {
    background-color: black;
}